%h1.underline= "Results for \"#{params[:q]}\""
%br/

- if @results.empty?
  %strong No domains found
- else
  %table
    = render :partial => '/domains/domain', :collection => @results

  = will_paginate @results