%tr
  %td= link_to zone_template.name, zone_template_path( zone_template )
  %td
    = link_to prototip_info_icon('table_edit.png', 'edit-template'), edit_zone_template_path( zone_template )
    = link_to prototip_info_icon('table_delete.png', 'delete-template'), zone_template_path( zone_template ), :method => :delete, :confirm => t(:confirm_template_delete)
    - unless zone_template.has_soa?
      = prototip_info_icon('table_error.png', 'missing-soa')
