%h1.underline Zone Templates

%table.grid
  %tr
    %td
      = link_to image_tag('table_add.png'), new_zone_template_path
      = link_to 'New template', new_zone_template_path
  = render :partial => 'zone_template', :collection => @zone_templates