%h1.underline Zone Templates

%table.grid
  %tr
    %td
      = link_to image_tag('table_add.png'), :controller => 'zone_templates', :action => 'new'
      = link_to 'New template', :controller => 'zone_templates', :action => 'new'
  = render :partial => 'zone_template', :collection => @zone_templates