body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #F0F0F0;
}
#Container {
    width: 800px;
    margin: 0 auto;
}
#Header {
    height: 80px;
    background-image: url(../images/top-background.png);
    background-repeat: repeat-x;
    padding-left: 20px;
}
#Header h1 {
    padding: 0;
    margin: 0;
    line-height: 80px;
    vertical-align: middle;
    color: #FFF;
}
#Nav {
    border-bottom: 1px solid #333;
    padding: 5px 20px
}
#Nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#Nav ul li {
    display: inline;
    padding-right: 5px;
}
#Nav a:link, #Nav a:active, #Nav a:visited {
    color: #003;
    font-weight: bold;
    text-decoration: none;
}
#Nav a:hover {
    text-decoration: underline;
}
#Body {
    padding: 20px;
    background-color: #FFF;
}
#Footer {
    padding: 10px 20px 40px 20px;
    text-align: center;
    font-size: 80%;
}

#Body h1 {
    margin: 0;
    padding: 3px 0;
    font-size: 16px;
}
#Body h2 {
    margin: 0;
    padding: 2px 0;
    font-size: 14px;
}
p {
    margin: 5px 0;
}
label {
    width: 200px;
}
div.padded {
    margin: 5px 0;
}
table.grid {
    width: 400px;
}
table.gridwide {
    width: 100%;
}
.small {
    font-size: 90%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.top {
    vertical-align: top;
}
.underline {
    border-bottom: 1px solid #777;
    margin: 10px 0 5px 0;
}
a img {
    border: none;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.flash-notice, .flash-info, .flash-error, .flash-warning, .errorExplanation, .generic-warning {
    padding: 5px;
    padding-left: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.flash-info, .flash-notice {
    border: 1px solid #97FF97;
    background-color: #DFD;
    background-image: url(../images/accept.png);
}
.flash-error, .errorExplanation {
    border: 1px solid #F66;
    background-color: #FFC;
    background-image: url(../images/exclamation.png);
}
.flash-warning {
    border: 1px solid #FF6;
    background-color: #FFC;
    background-image: url(../images/error.png);
}
.errorExplanation {
    margin: 5px 0;
}
.errorExplanation h2 {
    border-bottom: none;
    margin-top: 0;
}
.fieldWithErrors {
    display: inline;
}
.generic-warning {
    border: 1px solid #F66;
    background-color: #FFC;
}
.generic-warning img {
    margin-left: -25px;
}

input, textarea {
    border: 1px solid #555;
    padding: 2px;
}
.fieldWithErrors input {
    border: 1px solid #F66;
}
input.nb, textarea.nb {
    border: none;
}

ul.start {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}
ul.start li {
    display: inline;
    padding: 0;
    padding-right: 10px;
    margin: 0;
    vertical-align: middle;
}