body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
}
#Container {
    width: 800px;
    margin: 0 auto;
    padding-top:20px;
}

#Nav {
    height: 30px;
    background-image: url(../images/top-background.png);
    background-repeat: repeat-x;
    padding-left: 25px;
    padding-top: 15px;

    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

#Nav ul {
    padding: 0;
    margin: 0;
}

#Nav li {
    list-style-type: none;
    display: inline;
    background-color: #3c3c3c;
    margin-left:-5px;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:12px;
    padding-left:12px;
    border:solid #393939 1px;
}

#Nav li:hover {
    background-color: #1c9cde;
}

#Nav li:nth-child(7){
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#Nav li:nth-child(2){
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#Nav li:first-child{
    background: url(../images/logo.png) no-repeat;
    padding-right: 50px;
    padding-top:5px;
    padding-bottom:10px;
    border:none;
}

#Nav li:last-child{
    float:right;
    margin-right:20px;
    margin-top:-5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


#Nav a:link, #Nav a:visited, td.small {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#Nav.small {
    height:15px;
    margin-top:20px;
    margin-bottom:-25px;
}

#Nav li.active{
    background-color: #1c9cde;
}

#domainslist {
    padding-left:200px;
}

#templateslist {
    padding-left:260px;
}

#domainslist table td{
    width:100px;
}

#domainslist table tr{
    border: 3px solid #f0f0f0;
}

#domainslist table td:last-child{
    text-align: right;
}

#header {
    height: 30px;
    width:800px;
    background-color: #1388d6;
    margin-left: -20px;

    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-align:left;
    overflow:auto;
    margin-top:-20px;

    line-height: 30px;
}

.header_icons{
    margin-bottom:-3px;
    height:15px;
    width:15px;
    padding-left: 30px;
    padding-right: 10px;
}

#header left {
    padding-right: 200px;
}

#header right {
    padding-right: 200px;
}

#header long {
    padding-right: 550px;
}

#header.padded {
    margin-top: 10px;
}


#domain-name{
    display:inline-block;
    position: absolute;
    width: 370px;
}

#domain-soa{
    display:inline-block;
    margin-left: 390px;  
    position: relative;
    width:380px;
    padding-bottom:30px;
}

#domainedit {
    margin-top:-12px;
    padding-bottom: 10px;
    padding-left: 200px;
}

#domainedit a {
    padding:5px;
}

#edit-records {
    padding-top:30px;
    padding-left:300px;
}

#Body {
    padding: 20px;
    background-color: #FFF;
}
#Footer {
    padding: 10px 20px 40px 20px;
    text-align: center;
    font-size: 80%;
}

#Body h1 {
    margin: 0;
    padding: 3px 0;
    font-size: 16px;
}
#Body h2 {
    margin: 0;
    padding: 2px 0;
    font-size: 14px;
}
p {
    margin: 5px 0;
}

b{
    padding-right:590px;
}
label {
    width: 200px;
}
div.padded {
    margin: 5px 0;
}
table.grid {
    width: 370px;
}

table.gridwide {
    width: 100%;
    height: 211px;
   
}

#editdomain {
    display: none;
}


td:first-child{
    padding-left: 10px;
}

tr{
    border: 1px solid #f0f0f0;
}


table.gridwide#domainnametable td:nth-child(2), table.grid td:nth-child(2) {
    text-align:right;
}



table, td {
    border-bottom: 1px solid #f0f0f0;
    border-collapse: collapse;
}

table {
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    margin-top:15px;
} 

td {
    padding:5px;
}

table#domainnametable td:nth-child(2){
    border-right:1px solid #f0f0f0;
}

table#record-table tr:first-child{
    background-color:#454545;
    border:none;
}

table#record-table tr:first-child td:first-child{
    border-top-left-radius:10px;
}

table#record-table tr:first-child td:nth-child(5){
    border-top-right-radius:10px;
}

table#record-table td:nth-child(6){
    display:none;
}

table#record-table tr:first-child td:last-child{
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

table#record-table td{
    width:80px;
    text-align: left;
}

table#record-table td:first-child{
    width:200px;
}

table#record-table td:nth-child(5){
    width:150px;
}

table#record-table td:last-child{
    width:40px;
    text-align: center;
}

table#record-table {
    margin-top:15px;
}

table#soa-view {
    width:370px;
}

table.gridwide#domainnametable tr:last-child{
    height:100px;
}

.small {
    font-size: 90%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.top {
    vertical-align: top;
}
.underline {
    border-bottom: 1px solid #777;
    margin: 10px 0 5px 0;
}
a img {
    border: none;
    margin-bottom:-6px;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.flash-notice, .flash-info, .flash-error, .flash-warning, .errorExplanation, .generic-warning {
    padding: 5px;
    padding-left: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.flash-info, .flash-notice {
    border: 1px solid #97FF97;
    background-color: #DFD;
    background-image: url(../images/accept.png);
}
.flash-error, .errorExplanation {
    border: 1px solid #F66;
    background-color: #FFC;
    background-image: url(../images/exclamation.png);
}
.flash-warning {
    border: 1px solid #FF6;
    background-color: #FFC;
    background-image: url(../images/error.png);
}
.errorExplanation {
    margin: 5px 0;
}
.errorExplanation h2 {
    border-bottom: none;
    margin-top: 0;
}
.fieldWithErrors {
    display: inline;
}
.generic-warning {
    border: 1px solid #F66;
    background-color: #FFC;
}
.generic-warning img {
    margin-left: -25px;
}

input, textarea {
    border: 1px solid #555;
    padding: 2px;
}
.fieldWithErrors input {
    border: 1px solid #F66;
}
input.nb, textarea.nb {
    border: none;
}

ul.start {
    padding-left: 320px;
}

#ajaxBusy {
  display: none;
  margin: 0;
  margin-left: -50px;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100px;
  background-color: #F9D955;
  z-index: 1;
}

.odd {
    background-color: #F0F0F0;
}