#new-user{ :style => 'display: none' }
  Add a new user to PowerDNS on Rails

%h2.underline Users

%table.gridwide
  %tr
    %td{ :colspan => 5 }
      = link_to prototip_info_icon('user_add.png', 'new-user'), new_user_path
      = link_to 'New user', new_user_path
  = render :partial => 'user', :collection => @users

