%tr
  %td
    = link_to domain.name, domain_path( domain )
  %td &nbsp;
  %td
    = link_to prototip_info_icon('database_delete.png', 'delete-zone'), domain_path( domain ), :method => :delete, :confirm => "Are you sure you want to remove #{domain.name}?"
