%h1.underline New Template

- form_for( :zone_template, @zone_template, :url => { :action => 'create' } ) do |f|
  %table
    %tr
      %td Name
      %td= f.text_field :name
    %tr
      %td TTL
      %td= f.text_field :ttl
    %tr
      %td= link_to 'Cancel', templates_path
      %td= submit_tag 'Save'