%tr
  %td
    = link_to zone.name, zone_path( zone )
  %td &nbsp;
  %td
    = link_to image_tag('database_edit.png'), edit_zone_path( zone )
    = link_to image_tag('database_delete.png'), zone_path( zone ), :method => :delete, :confirm => 'Are you sure?'
