%h2.underline
  = @user.login
  = t :label_user_has
  = t :label_lc_domain, :count => @user.domains.count

#domains.padded
  = render :partial => '/domains/domain' , :collection => @user.domains
